
section-padding
{
    padding: 40px 0px;
}
.main-navigation
{
    border-bottom: 1px solid #eee;
}
.navbar-default {
    background-color: #808080;
    border-color: rgba(231, 231, 231, 0.33);
    padding: 10px 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #808080;
}
.navbar-nav {
    padding-top: 5px;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    
}
.navbar {
    min-height: inherit;
    margin-bottom: 0px;
}
.navbar-brand {
    height: inherit;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    font-size: 30px;
    margin-top: 10px;
}

.navbar-default .navbar-brand {
    color: #ccc;
}

.navbar-default .navbar-nav > li > a {
    text-decoration: none;
    color: #ccc;
    font-weight: 400;
    text-transform: uppercase;
    margin: 5px 10px;
    padding-bottom: 5px;
    font-size: 16px;
}
.nav > li > a
{
    padding: 5px;
}
/* Contact Form */
.text-field-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 40px;
    height: 60px;
    line-height: 60px;
    text-align: left;
    color: #666;
    font-size: 14px;
    padding: 0 35px;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}
.form-sec textarea {
    height: 220px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}
span.navigation {
color: #000000;
float:left;
}